<table width="100%">
  <tr class="explore-item">
    <td>
      <table class="explore-item-container" width="100%" >
        <tr>
          <td class="explore-repo">
            <table width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="middle">
                  <h3 class="explore-repo-title mb0">
                    <a class="link dim" href="<%= @view.github_repo_url(repository[:owner], repository[:name]) %>" / <strong><%= repository[:owner] %> / <%= repository[:name] %></strong></a>
                    <span class="meta">
                    on <%= starred_at %>
                    </span>
                  </h3>

                  <% if repository[:full_description].present? %>
                  <p class="text">
                    <%= repository[:full_description] %>
                  </p>
                  <% end %>

                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
