<!DOCTYPE html>
<html>
  <head>
    <title>Pastcodes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-near-black light-gray">
    <div class="content">
      <%= render 'partials/masthead' %>

      <section class="mw5 mw7-ns center pa3 ph5-ns f4 lh-copy measure">
        <%= yield %>
      </section>
    </div>

    <%= render 'partials/footer' %>
  </body>
</html>
